body {
  font-family: Lucida sans unicode, Lucida Grande, lucida, verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #606060;
}

a, a:link, a:visited {
  color: #4466ab;
  text-decoration: none;
  font-weight: bold;
}

a img {
  border: none;
}

h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #505050;
  text-transform: uppercase;
}

.title {
  font-weight: bold;
  letter-spacing: 5px;
}

.subtitle {
  font-size: 65%;
  text-transform: none;
  color: #4466ab;
}

.highlight {
  color: #ab3333;
}

.sect {
  width: 600px;
  padding: 20px 40px;
  background-color: white;
}

#header {
  color: #333333;
  background-color: #e8e8e8;
  border-left: 2px solid #999999;
  border-right: 2px solid #999999;
  border-top: 2px solid #999999;
  padding: 20px 35px;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

#menu {
  border-top: 2px solid #999999;
  border-bottom: 2px solid black;
  background-color: #444444;
  padding: 3px 0px;
  padding-left: 20px;
  color: white;
  font-weight: bold;
}

#menu a {
  color: white;
}

.menuitem {
  padding: 3px 20px;
}

.menuitem:hover {
  background-color: #4466ab;
}

#avatar {
  float: right;
  box-shadow: 3px 3px 4px #000; /* Opera 10.5, IE9 */
  -moz-box-shadow: 3px 3px 4px #000; /* FF3.5+ */
  -webkit-box-shadow: 3px 3px 4px #000; /* Saf3.0+, Chrome */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); /* IE5.5 - IE7 */
}
